body{
    background-color: azure;
}

.main-body{
    margin:auto;
    text-align: center;
}

.led{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin: auto;
    border-radius: 20px;
}

.led-on{
    background-color: blue;
}

.led-off{
    background-color: azure;
}
