menu "My Custom Menu"

config MY_BOOL
  bool "select yes or no"

config MY_STRING
  string "type something"
  default "hello world!"

config MY_INT
  int "type a number"
  default 3
  range 1 15
    help
      this is a numeric value

config MY_CHOICE
  choice
    bool "select a choice"
      default OPTION_1
    config OPTION_1
      bool "this is option 1"
    config OPTION_2
      bool "this is option 2"
    config OPTION_3
      bool "this is option 3"            
  endchoice


endmenu